@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: url(https://plus.unsplash.com/premium_photo-1683121800585-22bb2ea26583?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjl8fHNpZ251cCUyMHBhZ2VzJTIwZm9yJTIwdHJhdmVsfGVufDB8fDB8fHww);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.reset-password-container {
  width: 400px;
  padding: 30px 40px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  text-align: center;
}

.reset-password-container h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.reset-password-container p {
  font-size: 14px;
  color: white;
  margin-bottom: 20px;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  padding: 15px 20px;
  font-size: 16px;
  color: #fff;
  outline: none;
}

.input-box input::placeholder {
  color: white;
}

.input-box i {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 20px;
}

.reset-password-container .btn {
  width: 100%;
  height: 50px;
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.reset-password-container .btn:hover {
  background: rgba(255, 255, 255, 0.8);
  color: #000;
}